<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- action === 'put' ? `Editing '${movie.title}'` : 'New movie' %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
    <h2><%- action === 'put' ? 'Editing the movie' : 'New movie'%></h2>
    <div>
      <ul>
        <% if(typeof errorMessages !== 'undefined' && Array.isArray(errorMessages) && errorMessages.length) {%>
        <% errorMessages.forEach(message => { %>
            <li><%= message %></li>
        <%}); }%>
      </ul>
    </div>
    <form action="<%- action === 'put' ? '/movies/' + movie.id + '/update?_method=PUT' : '/movies/save' %>" method="post">
      <input type="hidden" name="_method" value="PUT" />

      <label for="title"
        >Title
        <input type="text" id="title" name="title" value="<%- movie ? movie.title : '' %>" required/>
      </label>

      <label for="year">Year
        <input
          type="number"
          min="1900"
          max="<%- new Date().getFullYear() %>"
          step="1"
          value="<%- movie ? movie.year : new Date().getFullYear()%>"
          name="year"
          id="year"
          required
        />
      </label>

      <label for="rating">
        Rating
        <input
          type="number"
          min="1"
          max="10"
          step="1"
          name="rating"
          id="rating"
          required
          value="<%- movie ? movie.rating : '' %>"
        />
      </label>

      <label class="inline-label" for="isWatched"
        >Have you watched the movie?
        <input
          type="checkbox"
          id="isWatched"
          name="isWatched"
          <%- movie && movie.isWatched == true ? 'checked' : ''%>
        />
      </label>

      <label for="genreMenu"
        >Choose genre
        <select name="genreId" id="genre">
          <% genres.forEach(genre => { %>
          <option value="<%= genre.id %>" <%- movie && genre.id == movie.genre.id ? 'selected' : '' %>><%= genre.name %></option>
          <%}); %>
        </select>
      </label>
      <label for="directorMenu"
        >Choose director
        <select name="directorId" id="director">
          <% directors.forEach(director => { %>
          <option value="<%= director.id %>" <%- movie && director.id == movie.director.id ? 'selected' : '' %>><%= director.fullName %></option>
          <%}); %>
        </select>
      </label>
      <label for="studioMenu"
        >Choose studio
        <select name="studioId" id="studio">
          <% studios.forEach(studio => { %>
          <option value="<%= studio.id %>" <%- movie && studio.id == movie.studio.id ? 'selected' : '' %>><%= studio.name %></option>
          <%}); %>
        </select>
      </label>

      <input type="submit" value="<%- action === 'put' ? 'SAVE CHANGES' : 'SAVE'%>" />
    </form>
    </main>
  </body>
</html>
