<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>

    <script>
      function confirmDeletion() {
        return confirm('Are you sure you want to delete this move?');
      }
    </script>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <button onclick="window.location.href='/movie/new'">ADD MOVIE</button>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Director</th>
          </tr>
        </thead>
        <tbody>
          <% if(movies){ %> <% movies.forEach(movie => { %>
          <tr>
            <td><%= movie.title %></td>
            <td><%= movie.year %></td>
            <td><%= movie.genre.name %></td>
            <td><%= movie.director.fullName %></td>
            <td class="iconsContainer">
              <a href="/movie/<%= movie.id %>">
                <img src="/icons/info-icon.svg" alt="Show more"
              /></a>
              <a href="/movie/<%= movie.id %>/edit">
                <img src="/icons/edit-icon.svg" alt="Edit"
              /></a>
              <form
                action="/movie/<%= movie.id %>/delete?_method=DELETE"
                method="post"
                onsubmit="return confirmDeletion()"
              >
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit">
                  D
                  <img src="/icons/trash-icon.svg" alt="Delete" />
                </button>
              </form>
            </td>
          </tr>
          <%});}%>
        </tbody>
      </table>
    </main>
  </body>
</html>
